* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}


li, a, button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* body{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.logo-container {
    margin-left: 10px;
    margin-top: 5px;
}

.logo {
    cursor: pointer;
    justify-content: flex-start;
    max-width: 100px;
    max-height: 100px;
}

.cta{
    padding-right: 20px;
}

.nav_links {
    list-style: none;

}

.nav_links li {
    display: inline-block;
    padding: 0px 50px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.intro {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    margin-left: 200px;
    font-size: 65px;
}

.multi_skill {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    color:beige;
    text-decoration: none;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 35px;
}



.image-container {
    position: absolute;
    bottom: 10px;
    margin-left: 15px;
}
  

.image-container img{
    width: 35px;
    height: 35px;
    display: block;
    margin-bottom: 50px;
    margin-left: 20px;
}

.line-container {
    width: 40px;
    margin-left: -2px;
   
}
  

.line-container hr {
    margin-left: -10px; /* Adjust this value as needed */
    height: 300px;
    
}




/*About Page*/
.column {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: hidden;
    float: none;
    width: 40%;
    min-height: 75%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    color: black;
    background-color: white;
}

.card-title {
    font-weight: bold;
}